<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bilibili用户数据分析</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" style="padding-left:100px">
            <h1>
                Bilibili用户信息分析
            </h1>
        </div>
        <div class="collapse navbar-collapse" style="padding-top:10px">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/biliuserinfo">返回bilibili用户信息首页</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container page-body" style="text-align: center;">
    <div class="row">
        <div class="col-sm-8 col-md-6">
            <div class="thumbnail">
                <img src="/static/前1500名用户的b站等级分布情况柱状图.png" alt="png">
                <div class="caption">
                    <h3>前1500名用户的b站等级分布情况柱状图</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="/static/前1500名用户的b站等级分布情况饼图.png" alt="png">
                <div class="caption">
                    <h3>前1500名用户的b站等级分布情况饼图</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="/static/前1500名用户性别分布情况饼图.png" alt="png">
                <div class="caption">
                    <h3>前1500名用户性别分布情况饼图</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="/static/前1500名用户性别分布情况柱状图.png" alt="png">
                <div class="caption">
                    <h3>前1500名用户性别分布情况柱状图</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="/static/前1500名用户粉丝数分布情况柱状图.png" alt="png">
                <div class="caption">
                    <h3>前1500名用户粉丝数分布情况柱状图</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-12">
            <div class="thumbnail">
                <img src="/static/前1500名用户的id和对应等级散点图.png" alt="png">
                <div class="caption">
                    <h3>前1500名用户的id和对应等级散点图.png</h3>
                </div>
            </div>
        </div>
</div>
</body>
</html>